body{
	background-image: url(images/header.png);
}
.stick{
	top:10;
	position: sticky;
}

h2{
	text-align: center;
	
	text-decoration: bold;
}
ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5D6D7E ;
}
ul.navbar li{
	float : left;
}
ul.navbar a{
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navbar li a:hover:not(.active) {
	background-color: #17202A;
}
ul.navbar li a.active {
	background-color: #4CAF50;
}
ul.navbar li.right {
	float: right;
}